/*body {
	background-image: url("../cuca.gif");
	background-size: all;
	background-repeat: no-repeat;
}*/

h1 {
	text-align: center;
	font-size: 2em;
}

.margen {
	margin-bottom: 30px;
}

.pregunta {
	border: solid dimgrey;
}

.textArea {
	width: 15px;
	height: 10px;
	border: solid;
}

.publicarBtn {
	width: 15px;
	height: 10px;
	border: solid;
}

.contenido {
	background-color: #CCC;
	width: 30%;
	height: 50px;
}
